<!DOCTYPE html>
<html lang="en">
<head>
    <title>JC URL Shortener Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <style>
        body {
            margin: 2em;
            font-size: 120%;
        }
        div.surl {
            font-size: 140%;
            color: white;
            font-family: monospace;
            padding: 1em;
            background: #008080;
            text-align: center;
        }
    </style>
</head>
<body>

    <div id="app" class="container">
        <h2>{{ title }}</h2>
        <p>Enter the URL, you can also specify the desired length of shortened version</p>
        <div class="form">
            <div class="form-group">
                <label for="url">URL:</label>
                <input v-model="shortUrl" class="form-control" id="url" placeholder="http://somesite.org/page">
                <p v-if="errors.length">
                    <b>Please correct the following error(s):</b>
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </p>
                <label for="desiredLength">Desired Length</label>
                <select v-model="desiredLength" class="form-control" id="desiredLength">
                    <option v-for="n in allowableLengths" :key="n">{{ n }}</option>
                </select>
             </div>
            <button @click="fetchUrl" class="btn btn-default">Get Shortened URL</button>
        </div>
        <hr/>
        <div class="well well-lg"><div class="surl">{{ serviceStatus }}</div></div>
        <div class="well well-lg"></div>
    </div>

    <script>

        // Adapted From https://cran.r-project.org/web/packages/rex/vignettes/url_parsing.html
        //
        let validUrlRE = "^(?:(?:http(?:s)?)://)(?:\\S+(?::(?:\\S)*)?@)?(?:(?:[a-z0-9\u00a1-\uffff](?:-)*)*(?:[a-z0-9\u00a1-\uffff])+)(?:\\.(?:[a-z0-9\u00a1-\uffff](?:-)*)*(?:[a-z0-9\u00a1-\uffff])+)*(?:\\.(?:[a-z0-9\u00a1-\uffff]){2,})(?::(?:\\d){2,5})?(?:/(?:\\S)*)?$"

        new Vue({
            el: "#app",
            data: {
                title: "URL Shortener Example for Neueda (JC)",
                shortUrl: "",
                errors: [],
                desiredLength: 6,
                allowableLengths: [4,5,6,7,8,9,10],
                serviceStatus: ""
            },
            methods: {
                fetchUrl: function() {
                    this.errors = []
                    this.serviceStatus = ""

                    var s = this.shortUrl
                    if (!s || s.trim().length == 0)
                        this.errors.push("Please enter a valid URL")
                    else
                        s = s.trim()

                    if (!s.match(validUrlRE))
                        this.errors.push("URL is not a valid format")

                    if (this.errors.length > 0)
                        return

                    // fetch here
                    var self = this
                    fetch("shorten", {
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            method: 'POST',
                            body: JSON.stringify({
                                version: 1,
                                url: s,
                                desiredLength: self.desiredLength
                            })
                        })
                        .then(function(rsp) { return rsp.json() })
                        .then(function(data) {
                            // Check if an API error
                            if (data.status) {
                                self.serviceStatus = "Something went wrong for URL create: " + data.message;
                            }
                            else {
                                self.serviceStatus = window.location.href + data.shortUrl;
                            }
                        })
                        .catch(function(error) {
                            self.serviceStatus = "Error: " + error
                        })
                }
            }
        })

    </script>

</body>
</html>
