<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener ERROR</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
    </style>
</head>
<body >
<div>
    <div class="jumbotron">
        <h1>You have have encountered an error!</h1>

        <h2>We were not able to satisfy that request</h2>
        <h2 data-th-text="'The error was: ' + ${errorDescription}"></h2>
    </div>

</body>
</html>