<!DOCTYPE html>
<html lang="en">
<head>
    <title>JC URL Shortener Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <style>
        body {
            margin: 2em;
            font-size: 120%;
        }
        div.surl {
            font-size: 140%;
            color: white;
            font-family: monospace;
            padding: 1em;
            background: #008080;
            text-align: center;
            border-radius: 2em;
            border: solid 1px #808080;
        }
    </style>
</head>
<body>

    <div id="app">
        <h2>{{ title }}</h2>
        <p>Enter the URL, you can also specify the desired length of shortened version</p>
        <div class="form col-xs-12">
            <div class="form-group">
                <label for="url">URL:</label>
                <input v-model="shortUrl" class="form-control" id="url" placeholder="http://somesite.org/page">
                <p v-if="errors.length">
                    <b>Please correct the following error(s):</b>
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </p>
                <label for="desiredLength">Desired Length</label>
                <select v-model="desiredLength" class="form-control" id="desiredLength">
                    <option v-for="n in allowableLengths" :key="n">{{ n }}</option>
                </select>
             </div>
            <button @click="fetchUrl" class="btn btn-default">Get Shortened URL</button>
        </div>
        <hr/>
        <div class="well well-lg"><div class="surl">{{ serviceStatus }}</div></div>
        <div class="col-xs-12" style="height:2em;"></div>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button @click="showStatsArea = !showStatsArea" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Stats View (For the purpose of example)
                    </button>
                </h5>
                </div>
            
                <div id="collapseOne" class="collapse" :class="{ show: showStatsArea }" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body" style="overflow: auto">
                        <button @click="fetchStats" class="btn btn-default">Get Last 10 Urls and Access Info</button>

                        <div class="col-xs-12" style="height:2em;"></div>
    
                        <table v-if="statsData" class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Short URL</th>
                                <th>Access Count</th>
                                <th>Target URL</th>
                                <th>Created (UTC)</th>
                                <th>Accessed</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="su in statsData" :key="su.id">
                                <td>{{ su.id }}</td>
                                <td>{{ su.shortVersion }}</td>
                                <td>{{ su.accessCount }}</td>
                                <td>{{ su.url }}</td>
                                <td>{{ su.createdOn | formatDate }}</td>
                                <td>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Time (UTC)</th>
                                            <th>Source IP</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="ai in su.accessHistory" :key="su.id">
                                            <td>{{ ai.utcUnixTime | formatDate }}</td>
                                            <td>{{ ai.requestIp }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
    
                    </div>
                </div>
            </div>
        </div>
                
    </div>

    <script>

        Vue.filter('formatDate', function (value) {
            if (!value) return ''
            return moment.unix(value).format("DD-MM-YYYY HH:mm:ss")
        })

        // Adapted From https://cran.r-project.org/web/packages/rex/vignettes/url_parsing.html
        //
        let validUrlRE = "^(?:(?:http(?:s)?)://)(?:\\S+(?::(?:\\S)*)?@)?(?:(?:[a-z0-9\u00a1-\uffff](?:-)*)*(?:[a-z0-9\u00a1-\uffff])+)(?:\\.(?:[a-z0-9\u00a1-\uffff](?:-)*)*(?:[a-z0-9\u00a1-\uffff])+)*(?:\\.(?:[a-z0-9\u00a1-\uffff]){2,})(?::(?:\\d){2,5})?(?:/(?:\\S)*)?$"

        new Vue({
            el: "#app",
            data: {
                title: "URL Shortener Example for Neueda (JC)",
                shortUrl: "",
                errors: [],
                desiredLength: 6,
                allowableLengths: [4,5,6,7,8,9,10],
                serviceStatus: "",
                statsData: null,
                showStatsArea: false
            },
            methods: {
                fetchStats: function() {

                    this.statsData = null

                    var self = this
                    fetch("stats.latest", {
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        method: 'GET'
                    })
                    .then(function(rsp) { return rsp.json() })
                    .then(function(data) {
                        self.statsData = data
                    })
                    .catch(function(error) {
                        self.serviceStatus = "Error: " + error
                    })
                },

                fetchUrl: function() {
                    this.errors = []
                    this.serviceStatus = ""

                    var s = this.shortUrl
                    if (!s || s.trim().length == 0)
                        this.errors.push("Please enter a valid URL")
                    else
                        s = s.trim()

                    if (!s.match(validUrlRE))
                        this.errors.push("URL is not a valid format")

                    if (this.errors.length > 0)
                        return

                    // fetch here
                    var self = this
                    fetch("shorten", {
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            method: 'POST',
                            body: JSON.stringify({
                                version: 1,
                                url: s,
                                desiredLength: self.desiredLength
                            })
                        })
                        .then(function(rsp) { return rsp.json() })
                        .then(function(data) {
                            // Check if an API error
                            if (data.status) {
                                self.serviceStatus = "Something went wrong for URL create: " + data.message;
                            }
                            else {
                                self.serviceStatus = window.location.href + data.shortUrl;
                            }
                        })
                        .catch(function(error) {
                            self.serviceStatus = "Error: " + error
                        })
                }
            }
        })

    </script>

</body>
</html>
